//variables
$black: #000;
$white: #fff;
$red: #F1636B;
$fsize: 15px;
$gray: #7b7b7b;
$violet:#874080;
$blue:#24ACCF;
$green:#009E1A;
$darkblue:#004682;
$ffamily:'Open Sans', sans-serif;;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
