@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?wpcf9n');
  src: url('../fonts/icomoon.eot?wpcf9n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wpcf9n') format('truetype'),
    url('../fonts/icomoon.woff?wpcf9n') format('woff'),
    url('../fonts/icomoon.svg?wpcf9n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accounting:before {
  content: "\e92f";
}

.icon-administrator:before {
  content: "\e930";
}

.icon-architect:before {
  content: "\e931";
}

.icon-auction:before {
  content: "\e932";
}

.icon-automated-process:before {
  content: "\e933";
}

.icon-automobile:before {
  content: "\e934";
}

.icon-bank:before {
  content: "\e935";
}

.icon-blogger:before {
  content: "\e936";
}

.icon-car:before {
  content: "\e937";
}

.icon-cogwheel:before {
  content: "\e938";
}

.icon-computing:before {
  content: "\e939";
}

.icon-credit-card:before {
  content: "\e93a";
}

.icon-data-analysis:before {
  content: "\e93b";
}

.icon-debit-card:before {
  content: "\e93c";
}

.icon-digital:before {
  content: "\e93d";
}

.icon-document:before {
  content: "\e93e";
}

.icon-engineering:before {
  content: "\e93f";
}

.icon-growth:before {
  content: "\e940";
}

.icon-healthcare-1:before {
  content: "\e941";
}

.icon-healthcare:before {
  content: "\e942";
}

.icon-informationtechnology:before {
  content: "\e943";
}

.icon-legal-document:before {
  content: "\e944";
}

.icon-operating:before {
  content: "\e945";
}

.icon-process:before {
  content: "\e946";
}

.icon-promotion:before {
  content: "\e947";
}

.icon-research-1:before {
  content: "\e948";
}

.icon-research:before {
  content: "\e949";
}

.icon-steam:before {
  content: "\e94a";
}

.icon-arrowleft:before {
  content: "\e900";
}

.icon-badge:before {
  content: "\e901";
}

.icon-burgerbar:before {
  content: "\e902";
}

.icon-car1:before {
  content: "\e903";
}

.icon-cart:before {
  content: "\e904";
}

.icon-coding:before {
  content: "\e905";
}

.icon-confetti:before {
  content: "\e906";
}

.icon-customerservice:before {
  content: "\e907";
}

.icon-design:before {
  content: "\e908";
}

.icon-doublecheck:before {
  content: "\e909";
}

.icon-electric:before {
  content: "\e90a";
}

.icon-email:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-import:before {
  content: "\e90d";
}

.icon-leftarrow:before {
  content: "\e90e";
}

.icon-leftarrow2:before {
  content: "\e90f";
}

.icon-linkedin:before {
  content: "\e910";
}

.icon-menu:before {
  content: "\e911";
}

.icon-menuicon:before {
  content: "\e912";
}

.icon-money:before {
  content: "\e913";
}

.icon-monitor .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
}

.icon-monitor .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-monitor .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-monitor .path11:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-onlinelearning:before {
  content: "\e91f";
}

.icon-paperplane:before {
  content: "\e920";
}

.icon-pin:before {
  content: "\e921";
}

.icon-publishing:before {
  content: "\e922";
}

.icon-qtechnicalsupporty:before {
  content: "\e923";
}

.icon-ribbon:before {
  content: "\e924";
}

.icon-rightarrow:before {
  content: "\e925";
}

.icon-rightarrowlong:before {
  content: "\e926";
}

.icon-shealthinsurance:before {
  content: "\e927";
}

.icon-technicalsupport:before {
  content: "\e928";
}

.icon-telephone:before {
  content: "\e929";
}

.icon-testing:before {
  content: "\e92a";
}

.icon-travel:before {
  content: "\e92b";
}

.icon-twitter:before {
  content: "\e92c";
}

.icon-up:before {
  content: "\e92d";
}

.icon-uparrow:before {
  content: "\e92e";
}