@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

.flight, .slide .carousel-item .article .sliderContent .sliderTitle {
  font-weight: 300;
}

.fmedi {
  font-weight: 500;
}

.fbold, .linkbtn, .subTitle, header .nav-item .nav-link, header .nav-item .active, .slide .carousel-item .article .sliderContent .sliderTitle span, .sliderCards .cardSliderBox h3, .homeIndustries .industriesrow h6, footer h4, .subpage .subpageHeader article h1, .subpage .subpageBody h6, .subpage .subpageBody h2, .cardSection .processCol .processNumber, .team .teamItem article h5, .strengths .strengthCol h2, .strengths .strengthCol h4 {
  font-weight: 700;
}

.linkbtn {
  padding: 10px 40px;
  border-radius: 50px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.redbtn {
  background: #F1636B;
  color: #fff;
}

.redbtn:hover {
  background: #24ACCF;
  color: #fff;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fred {
  color: #F1636B;
}

.fwhite {
  color: #fff;
}

.subTitle {
  font-size: clamp(1rem, 1.7vw, 1.7rem);
}

.customContainer {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .customContainer {
    width: 93% !important;
  }
}

.fixedTheme {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.fixedTheme .navbar {
  padding: 0;
}

.fixedTheme .navbar-brand img {
  width: 180px;
}

@media (max-width: 1200px) {
  .fixedTheme .navbar-brand img {
    width: 140px !important;
  }
}

header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(125, 185, 232, 0)));
  background: linear-gradient(to bottom, white 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#007db9e8', GradientType=0);
  /* IE6-9 */
}

@media (max-width: 1200px) {
  header {
    background: #fff;
  }
}

header .navbar-brand img {
  width: 200px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (max-width: 1200px) {
  header .navbar-brand img {
    width: 150px !important;
  }
}

header .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  color: #000 !important;
  padding: 0 15px !important;
  position: relative;
}

@media (max-width: 992px) {
  header .nav-item .nav-link {
    padding: 8px 12px !important;
  }
}

header .nav-item .nav-link:hover {
  color: #24ACCF;
}

header .nav-item .active {
  padding: 0 15px !important;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #000 !important;
  position: relative;
}

header .nav-item .active:before {
  content: '';
  width: 28px;
  height: 2px;
  background: #F1636B;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: -1px;
}

@media (max-width: 992px) {
  header .nav-item .active:before {
    display: none;
  }
}

@media (max-width: 992px) {
  header .nav-item .active {
    padding: 8px 12px !important;
    background: #F1636B;
  }
}

.headerSocial a {
  display: inline-block;
  padding: 12px;
  font-size: 17px;
  background: #b3b3b3;
  margin-right: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.headerSocial a .icomoon {
  color: #000;
}

.headerSocial a:hover {
  background: #24ACCF;
}

.headerSocial a:hover .icomoon {
  color: #fff;
}

.slide {
  height: 100vh;
}

@media (max-width: 992px) {
  .slide {
    height: 50vh;
    margin-top: 60px;
  }
}

.slide .carousel-item {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .slide .carousel-item {
    height: 50vh;
  }
}

.slide .carousel-item .article {
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slide .carousel-item .article .sliderContent {
  width: 80%;
}

@media (max-width: 992px) {
  .slide .carousel-item .article .sliderContent {
    width: 95%;
  }
}

.slide .carousel-item .article .sliderContent .sliderTitle {
  font-size: clamp(1rem, 3vw, 3rem);
}

.slide .carousel-item .article .sliderContent p {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 30px;
}

.slide .slide01 {
  background-image: url(../img/slider01.jpg);
}

.slide .slide02 {
  background-image: url(../img/slider02.jpg);
}

.slide .slide03 {
  background-image: url(../img/slider03.jpg);
}

.slide button {
  width: 50px;
  height: 50px;
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  top: 48%;
}

.slide .icomoon {
  color: #000;
}

.sliderCards {
  margin-top: -100px;
  position: relative;
  z-index: 9;
}

.sliderCards .swiper-container {
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  .sliderCards {
    margin-top: 25px;
  }
}

.sliderCards .cardSliderBox {
  background: #fff;
  padding: 35px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  height: 350px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .sliderCards .cardSliderBox {
    height: auto;
    margin-bottom: 15px;
  }
}

.sliderCards .cardSliderBox h3 {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
}

.sliderCards .cardSliderBox p.middlepara {
  font-size: 17px;
  padding: 25px 0 50px 0;
  min-height: 200px;
}

@media (max-width: 992px) {
  .sliderCards .cardSliderBox p.middlepara {
    min-height: 100px;
  }
}

.sliderCards .cardSliderBox a {
  color: #000;
}

.sliderCards .cardSliderBox a:hover {
  color: #24ACCF;
}

.sliderCards .cardSliderBox a .icomoon {
  font-size: 15px;
  color: #24ACCF;
}

.clientsHome {
  margin: 50px 0;
}

.clientsHome .logosSlider {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border-radius: 10px;
  padding: 30px 0;
  margin-top: 25px;
}

.clientsHome .logosSlider .swiper-slide {
  text-align: center;
}

.clientsHome .logosSlider .swiper-button-prev:after,
.clientsHome .logosSlider .swiper-button-next:after {
  color: #7b7b7b;
  font-size: 20px;
}

.clientsHome .logosSlider .swiper-button-prev,
.clientsHome .logosSlider .swiper-button-next {
  background: #fff;
  padding: 30px 10px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border-radius: 5px;
  top: 40%;
}

.aboutHome {
  margin: 50px 0;
  position: relative;
}

@media (max-width: 992px) {
  .aboutHome {
    margin-bottom: 0;
  }
}

.aboutHome .aboutLeftCol {
  background: #004682 url(../img/abouthomepattern.png) no-repeat center center;
  padding: 5% 5% 5% 10%;
  color: #fff;
  position: relative;
  z-index: 99;
  min-height: 250px;
}

.aboutHome .aboutLeftCol h6 {
  color: #24ACCF;
  font-size: 13px;
}

.aboutHome .aboutLeftCol p {
  padding-bottom: 25px;
}

.aboutHome .aboutImg {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 0;
}

@media (max-width: 992px) {
  .aboutHome .aboutImg {
    position: relative;
    top: 0;
  }
}

.services {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .services {
    margin-top: 0;
  }
}

.services .serviceItem {
  width: 18.2%;
  margin: 0 10px;
}

@media (max-width: 992px) {
  .services .serviceItem {
    width: 44%;
  }
}

.services .serviceItem .serviceIcon {
  width: 75px;
  height: 75px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .serviceItem .serviceIcon .icomoon {
  font-size: 35px;
}

.services .serviceItem .serviceArticle {
  width: 70%;
}

.services .serviceItem .serviceArticle h5 {
  font-size: 15px;
}

.services .serviceItem .serviceArticle p {
  font-size: 13px;
  padding-bottom: 15px;
}

.services .serviceItem .serviceArticle a {
  font-size: 14px;
  color: #24ACCF;
}

.services .serviceItem .serviceArticle a .icomoon {
  font-size: 13px;
}

.services .swiper-pagination-bullet {
  width: 27px;
  height: 5px;
  background: #888888;
  border-radius: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.services .swiper-pagination-bullet-active {
  width: 50px;
}

.services .swiper-pagination-bullets {
  bottom: 0 !important;
}

.services .servicesHomeContainer {
  padding-bottom: 40px;
}

.homeIndustries:before {
  content: '';
  width: 100%;
  height: 260px;
  background: #004682;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.homeIndustries article {
  color: #fff;
}

.homeIndustries article p {
  font-size: 13px;
}

.homeIndustries .container {
  position: relative;
}

.homeIndustries .industriesrow {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.homeIndustries .industriesrow .indCol {
  height: 150px;
  padding: 10px;
}

.homeIndustries .industriesrow .industriesIcon {
  height: 75px;
}

.homeIndustries .industriesrow .industriesIcon .icomoon {
  font-size: 60px;
}

.homeIndustries .industriesrow h6 {
  font-size: 14px;
}

@media (max-width: 768px) {
  .homeIndustries .industriesrow h6 {
    font-size: 11px;
  }
}

footer {
  background: #004682;
  position: relative;
  color: #fff;
  padding-top: 75px;
  margin-top: 75px;
}

footer .customContainer {
  position: relative;
}

footer .customContainer .readmoreLink .icomoon {
  position: relative;
  top: 2px;
  font-size: 13px;
}

footer:before {
  content: '';
  background: url(../img/footerleft.png) no-repeat 0 0;
  width: 283px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

footer:after {
  content: '';
  background: url(../img/footerright.png) no-repeat 0 0;
  width: 283px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

footer h4 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

footer h4:before {
  content: '';
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
}

footer p {
  padding-bottom: 20px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #24ACCF;
}

footer .footerLinks li a.nav-link {
  display: inline-block;
  padding: .5rem 1rem;
  color: #fff;
}

footer .footerLinks li a.nav-link:hover {
  color: #24ACCF;
}

footer .footerLinks li a.activeLink {
  display: inline-block;
  padding: .5rem 1rem;
  color: #F1636B;
}

footer .rights {
  padding: 25px 0;
  background: #F1636B;
  color: #fff;
  text-align: center;
}

footer .moveTop {
  background: #F1636B;
  padding: 15px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: none;
  z-index: 99;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

footer .moveTop .icomoon {
  font-size: 15px;
  color: #fff;
}

footer .moveTop:hover {
  background: #24ACCF;
}

@media (max-width: 992px) {
  .subpage {
    padding-top: 55px;
  }
}

.subpage .subpageHeader {
  background: url(../img/subpageheaderbg.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 200px;
  position: relative;
}

@media (max-width: 768px) {
  .subpage .subpageHeader {
    min-height: 150px;
  }
}

.subpage .subpageHeader:before {
  content: '';
  background: #24accf;
  background: -webkit-gradient(linear, left bottom, left top, from(#24accf), to(#f1636b));
  background: linear-gradient(0deg, #24accf 0%, #f1636b 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.subpage .subpageHeader article {
  padding-top: 125px;
}

@media (max-width: 768px) {
  .subpage .subpageHeader article {
    padding-top: 100px;
  }
}

.subpage .subpageHeader article h1 {
  font-size: clamp(1rem, 1.8vw, 1.8rem);
  color: #fff;
  position: relative;
}

.subpage .subpageHeader article h1:before {
  content: '';
  width: 40px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .subpage .subpageHeader article h1:before {
    top: -10px;
  }
}

.subpage .subpageBody {
  min-height: 500px;
  padding: 50px 0;
}

.subpage .subpageBody p {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 15px;
  text-align: justify;
}

.subpage .subpageBody h6 {
  font-size: 13px;
  color: #F1636B;
  text-transform: uppercase;
}

.subpage .subpageBody h2 {
  font-size: 28px;
}

.subpage .serviceItem {
  margin-bottom: 15px;
}

.aboutcol .icomoon {
  font-size: 75px;
}

.cardSection {
  background: #fff url(../img/pattern2.png) no-repeat left bottom;
  padding: 75px 0;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.cardSection .processCol {
  border: 1px solid #eee;
  padding: 10px;
  background: #fff;
}

@media (max-width: 992px) {
  .cardSection .processCol {
    margin-bottom: 15px;
  }
}

.cardSection .processCol .processNumber {
  background: #c9edf6;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

.cardSection .processCol .processarticle {
  width: 85%;
}

.techIndex {
  background: url(../img/techbg.jpg) no-repeat 0 0;
  width: 100%;
  padding: 75px 0;
  background-size: cover;
  color: #fff;
}

.techIndex .techCol {
  height: 260px;
  border-radius: 10px;
  border: 1px dashed #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .techIndex .techCol {
    margin-bottom: 15px;
  }
}

.techIndex .techCol h5 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  text-align: center;
}

.techIndex .techCol .icomoon {
  font-size: 90px;
  color: #fff;
}

.team {
  padding: 75px 0 0 0;
}

.team .teamItem article {
  width: 90%;
  margin: -40px auto 0 auto;
  background: #dff4f9;
  position: relative;
  margin-bottom: 10px;
}

.team .teamItem article h5 {
  font-size: 16px;
}

@media (max-width: 768px) {
  .team .teamItem article {
    margin-top: 0;
    width: 100%;
  }
}

.strengths {
  position: relative;
  margin: 75px 0 75px 0;
}

.strengths:before {
  content: '';
  background: #004682 url(../img/pattern-2.png) no-repeat top center;
  width: 100%;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.strengths .container {
  position: relative;
  color: #fff;
}

.strengths .container article {
  color: #fff;
}

.strengths .container article h4.subTitle {
  font-size: clamp(1rem, 1.7vw, 1.7rem);
  color: #fff;
  line-height: 35px;
}

.strengths .container article p {
  font-size: 13px;
}

.strengths .strengthCol {
  background-size: cover !important;
  width: 100%;
  height: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 50px;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.strengths .strengthCol h2 {
  font-size: 60px;
  color: #fff;
}

.strengths .strengthCol h4 {
  font-size: 30px;
  color: #fff;
}

.strengths .strengthCol p {
  font-size: 16px;
}

.strengths .strength01 {
  background: url(../img/workpairbg.jpg) no-repeat 0 0;
}

.strengths .strength02 {
  background: url(../img/clientsbg.jpg) no-repeat 0 0;
}

.listItems li {
  font-size: 15px;
  position: relative;
}

.listItems li:before {
  content: "\e909";
  font-family: 'icomoon' !important;
  font-size: 15px;
  margin-right: 10px;
}

.iconContact {
  width: 143px;
  height: 143px;
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.iconContact .icomoon {
  font-size: 45px;
  color: #24ACCF;
}

.formRow {
  padding: 75px 0;
}

.headertable td {
  font-size: 15px;
  padding: 10px;
  line-height: 24px;
}

.headertable td .icomoon {
  font-size: 15px;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("") no-repeat center center rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#load img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */