@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
    @include siteMain;
}

.flight {
    font-weight: 300;
}

.fmedi {
    font-weight: 500;
}

.fbold {
    font-weight: 700;
}

.linkbtn {
    padding: 10px 40px;
    border-radius: 50px;
    @include shadowbot;
    text-decoration: none;
    @extend .fbold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    @include transition;
}

.redbtn {
    background: $red;
    color: $white;

    &:hover {
        background: $blue;
        color: $white;
    }
}

a {
    text-decoration: none;
    @include transition;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fred {
    color: $red;
}

.fwhite {
    color: $white;
}

.subTitle {
    font-size: clamp(1rem, 1.7vw, 1.7rem);
    @extend .fbold;
}

.customContainer {
    width: 80%;
    margin: 0 auto;

    @include max($xl) {
        width: 93% !important;
    }
}

.fixedTheme {
    background: $white;
    @include shadowbot;

    .navbar {
        padding: 0;
    }

    .navbar-brand {
        img {
            width: 180px;

            @include max($xl) {
                width: 140px !important;
            }
        }
    }
}

//header styles 
header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */

    @include max($xl) {
        background: $white;
    }

    .navbar-brand {
        img {
            width: 200px;
            @include transition;

            @include max($xl) {
                width: 150px !important;
            }
        }
    }

    .nav-item {
        .nav-link {
            @extend .fbold;
            text-transform: uppercase;
            font-size: $fsize - 1;
            color: $black !important;
            padding: 0 15px !important;
            position: relative;

            @include max($lg) {
                padding: 8px 12px !important;
            }

            &:hover {
                color: $blue;
            }
        }

        .active {
            padding: 0 15px !important;
            display: block;
            @extend .fbold;
            text-transform: uppercase;
            font-size: $fsize - 1;
            color: $black !important;
            position: relative;

            &:before {
                content: '';
                width: 28px;
                height: 2px;
                background: $red;
                position: absolute;
                left: 50%;
                margin-left: -14px;
                bottom: -1px;

                @include max($lg) {
                    display: none;
                }
            }

            @include max($lg) {
                padding: 8px 12px !important;
                background: $red;
            }
        }
    }
}

.headerSocial {
    a {
        display: inline-block;
        padding: 12px;
        font-size: $fsize + 2;
        background: lighten($black, 70%);
        margin-right: 5px;
        @include transition;

        .icomoon {
            color: $black;
        }

        &:hover {
            background: $blue;

            .icomoon {
                color: $white;
            }
        }
    }
}

.slide {
    height: 100vh;

    @include max($lg) {
        height: 50vh;
        margin-top: 60px;
    }

    .carousel-item {
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: 0 0;
        @include verticalcenter;

        @include max($lg) {
            height: 50vh;
        }

        .article {
            @include background-opacity($white, 0.8);
            height: 100vh;
            @include verticalcenter;
            align-items: flex-start;

            .sliderContent {
                width: 80%;

                @include max($lg) {
                    width: 95%;
                }

                .sliderTitle {
                    font-size: clamp(1rem, 3vw, 3rem);
                    @extend .flight;

                    span {
                        @extend .fbold;
                    }
                }

                p {
                    font-size: clamp(1rem, 1.2vw, 1.2rem);
                    line-height: 30px;
                }
            }
        }
    }

    .slide01 {
        background-image: url(../img/slider01.jpg);
    }

    .slide02 {
        background-image: url(../img/slider02.jpg);
    }

    .slide03 {
        background-image: url(../img/slider03.jpg);
    }

    button {
        width: 50px;
        height: 50px;
        @include background-opacity($white, 0.8);
        border-radius: 50%;
        top: 48%;
    }

    .icomoon {
        color: $black;
    }
}

.sliderCards {
    margin-top: -100px;
    position: relative;
    z-index: 9;

    .swiper-container {
        padding-bottom: 50px;
    }

    @include max($lg) {
        margin-top: 25px;
    }

    .cardSliderBox {
        background: $white;
        padding: 35px;
        @include shadowbot;
        height: 350px;
        align-items: flex-start;
        @include verticalcenter;
        align-items: flex-start;

        @include max($lg) {
            height: auto;
            margin-bottom: 15px;
        }


        h3 {
            font-size: clamp(1rem, 1.4vw, 1.4rem);
            @extend .fbold;
        }

        p.middlepara {
            font-size: $fsize + 2;
            padding: 25px 0 50px 0;
            min-height: 200px;

            @include max($lg) {
                min-height: 100px;
            }
        }

        a {
            color: $black;

            &:hover {
                color: $blue;
            }

            .icomoon {
                font-size: $fsize;
                color: $blue;
            }
        }

    }
}

.clientsHome {
    margin: 50px 0;

    .logosSlider {
        background: $white;
        @include shadowbot;
        border-radius: 10px;
        padding: 30px 0;
        margin-top: 25px;

        .swiper-slide {
            text-align: center;
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            color: $gray;
            font-size: $fsize + 5;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background: $white;
            padding: 30px 10px;
            @include shadowbot;
            border-radius: 5px;
            top: 40%;
        }
    }
}

.aboutHome {
    margin: 50px 0;
    position: relative;

    @include max($lg) {
        margin-bottom: 0;
    }

    .aboutLeftCol {
        background: $darkblue url(../img/abouthomepattern.png) no-repeat center center;
        padding: 5% 5% 5% 10%;
        color: $white;
        position: relative;
        z-index: 99;
        min-height: 250px;

        h6 {
            color: $blue;
            font-size: $fsize - 2;
        }

        p {
            padding-bottom: 25px;
        }
    }

    .aboutImg {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 0;

        @include max($lg) {
            position: relative;
            top: 0;
        }
    }
}

.services {
    margin-bottom: 50px;

    @include max($xl) {
        margin-top: 0;

    }

    .serviceItem {
        width: 18.2%;
        margin: 0 10px;

        @include max($lg) {
            width: 44%;
        }

        .serviceIcon {
            width: 75px;
            height: 75px;
            @include shadowbot;
            border-radius: 50%;
            @include verticalcenter;

            .icomoon {
                font-size: $fsize * 2 + 5;
            }
        }

        .serviceArticle {
            width: 70%;

            h5 {
                font-size: 15px;
            }

            p {
                font-size: $fsize - 2;
                padding-bottom: 15px;
            }

            a {
                font-size: $fsize - 1;
                color: $blue;

                .icomoon {
                    font-size: $fsize - 2;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        width: 27px;
        height: 5px;
        background: lighten($gray, 5%);
        border-radius: 0;
        @include transition;
    }

    .swiper-pagination-bullet-active {
        width: 50px;
    }

    .swiper-pagination-bullets {
        bottom: 0 !important;
    }

    .servicesHomeContainer {
        padding-bottom: 40px;
    }
}

.homeIndustries {
    &:before {
        content: '';
        width: 100%;
        height: 260px;
        background: $darkblue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    article {
        color: $white;

        p {
            font-size: $fsize - 2;
        }
    }

    .container {
        position: relative;
    }

    .industriesrow {
        background: $white;
        border-radius: 10px;
        @include shadowbot;

        .indCol {
            height: 150px;
            padding: 10px;
        }

        .industriesIcon {
            height: 75px;

            .icomoon {
                font-size: $fsize * 4;
            }
        }

        h6 {
            font-size: $fsize - 1;
            @extend .fbold;

            @include max($md) {
                font-size: $fsize - 4;
            }
        }
    }
}

footer {
    .customContainer {
        position: relative;

        .readmoreLink {
            .icomoon {
                position: relative;
                top: 2px;
                font-size: $fsize - 2;
            }
        }
    }

    background: $darkblue;
    position: relative;
    color: $white;
    padding-top: 75px;
    margin-top: 75px;

    &:before {
        content: '';
        background: url(../img/footerleft.png) no-repeat 0 0;
        width: 283px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    &:after {
        content: '';
        background: url(../img/footerright.png) no-repeat 0 0;
        width: 283px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    h4 {
        font-size: clamp(1rem, 1.2vw, 1.2rem);
        text-transform: uppercase;
        @extend .fbold;
        position: relative;
        margin-bottom: 40px;
        letter-spacing: 2px;

        &:before {
            content: '';
            width: 40px;
            height: 2px;
            background: $white;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }

    p {
        padding-bottom: 20px;
    }

    a {
        color: $white;

        &:hover {
            color: $blue;
        }
    }

    .footerLinks {
        li {
            a.nav-link {
                display: inline-block;
                padding: .5rem 1rem;
                color: $white;

                &:hover {
                    color: $blue;
                }
            }

            a.activeLink {
                display: inline-block;
                padding: .5rem 1rem;
                color: $red;
            }
        }
    }

    .rights {
        padding: 25px 0;
        background: $red;
        color: $white;
        text-align: center;
    }

    .moveTop {
        background: $red;
        padding: 15px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        position: fixed;
        bottom: 80px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include transition;
        display: none;
        z-index: 99;
        @include shadowbot;

        .icomoon {
            font-size: $fsize;
            color: $white;
        }

        &:hover {
            background: $blue;
        }
    }
}

.subpage {
    @include max($lg) {
        padding-top: 55px;
    }

    .subpageHeader {
        background: url(../img/subpageheaderbg.jpg) no-repeat 0 0;
        background-size: cover;
        min-height: 200px;
        position: relative;

        @include max($md) {
            min-height: 150px;
        }

        &:before {
            content: '';
            background: rgb(36, 172, 207);
            background: linear-gradient(0deg, rgba(36, 172, 207, 1) 0%, rgba(241, 99, 107, 1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
        }

        article {
            padding-top: 125px;

            @include max($md) {
                padding-top: 100px;
            }

            h1 {
                font-size: clamp(1rem, 1.8vw, 1.8rem);
                @extend .fbold;
                color: $white;
                position: relative;

                &:before {
                    content: '';
                    width: 40px;
                    height: 4px;
                    background: $white;
                    position: absolute;
                    top: 0;
                    left: 0;

                    @include max($lg) {
                        top: -10px;
                    }
                }
            }
        }
    }

    .subpageBody {
        min-height: 500px;
        padding: 50px 0;

        p {
            font-size: $fsize;
            line-height: 25px;
            padding-bottom: 15px;
            text-align: justify;
        }

        h6 {
            font-size: $fsize - 2;
            color: $red;
            text-transform: uppercase;
            @extend .fbold;
        }

        h2 {
            font-size: $fsize + 13;
            @extend .fbold;
        }
    }

    .serviceItem {
        margin-bottom: 15px;
    }
}

.aboutcol {
    .icomoon {
        font-size: $fsize * 5;
    }
}

.cardSection {
    background: $white url(../img/pattern2.png) no-repeat left bottom;
    padding: 75px 0;
    @include shadowbot;

    .processCol {
        border: 1px solid #eee;
        padding: 10px;
        background: $white;

        @include max($lg) {
            margin-bottom: 15px;
        }

        .processNumber {
            background: lighten($blue, 40%);
            width: 57px;
            height: 57px;
            border-radius: 50%;
            @include shadowbot;
            @include verticalcenter;
            font-size: $fsize * 2;
            @extend .fbold;
        }

        .processarticle {
            width: 85%;
        }
    }
}

.techIndex {
    background: url(../img/techbg.jpg) no-repeat 0 0;
    width: 100%;
    padding: 75px 0;
    background-size: cover;
    color: $white;

    .techCol {
        height: 260px;
        border-radius: 10px;
        border: 1px dashed $white;
        @include verticalcenter;

        @include max($lg) {
            margin-bottom: 15px;
        }

        h5 {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            text-align: center;
        }

        .icomoon {
            font-size: $fsize * 6;
            color: $white;
        }
    }
}

.team {
    padding: 75px 0 0 0;

    .teamItem {
        article {
            width: 90%;
            margin: -40px auto 0 auto;
            background: lighten($blue, 45%);
            position: relative;
            margin-bottom: 10px;

            h5 {
                font-size: $fsize + 1;
                @extend .fbold;
            }

            @include max($md) {
                margin-top: 0;
                width: 100%;
            }
        }


    }
}

.strengths {
    position: relative;
    margin: 75px 0 75px 0;

    &:before {
        content: '';
        background: $darkblue url(../img/pattern-2.png) no-repeat top center;
        ;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .container {
        position: relative;
        color: $white;

        article {
            color: $white;

            h4.subTitle {
                font-size: clamp(1rem, 1.7vw, 1.7rem);
                color: $white;
                line-height: 35px;
            }

            p {
                font-size: $fsize - 2;
            }
        }
    }

    .strengthCol {
        background-size: cover !important;
        width: 100%;
        height: 342px;
        @include verticalcenter;
        color: $white;
        padding: 50px;
        text-align: left;
        align-items: flex-start;
        margin-top: 50px;

        h2 {
            font-size: $fsize * 4;
            @extend .fbold;
            color: $white;
        }

        h4 {
            font-size: $fsize * 2;
            @extend .fbold;
            color: $white;
        }

        p {
            font-size: $fsize + 1;
        }
    }

    .strength01 {
        background: url(../img/workpairbg.jpg) no-repeat 0 0;
    }

    .strength02 {
        background: url(../img/clientsbg.jpg) no-repeat 0 0;
    }
}

.listItems {
    li {
        font-size: $fsize;
        position: relative;


        &:before {
            content: "\e909";
            font-family: 'icomoon' !important;
            font-size: $fsize;
            margin-right: 10px;
        }
    }
}


.iconContact {
    width: 143px;
    height: 143px;
    background: $white;
    @include shadowbot;
    @include verticalcenter;
    margin: 0 auto;

    .icomoon {
        font-size: $fsize * 3;
        color: $blue;
    }
}

.formRow {
    padding: 75px 0;
}

.headertable {
    td {
        font-size: $fsize;
        padding: 10px;
        line-height: 24px;

        .icomoon {
            font-size: $fsize;
        }
    }
}

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url("") no-repeat center center rgba(0, 0, 0, 0.8);
    @include verticalcenter;

    img {
        width: 50px;
    }
}